@using ReportCardz.Models
@using ReportCardz.Persistence
@page "/reportCards"
@inject IReportCardsRepository repository
<h3>ReportCards</h3>
<PageTitle>ReportCards</PageTitle>
@code {
    private List<Child> Children = [];

    protected override Task OnInitializedAsync()
    {
        Children = repository.GetChildsAsync().ToList();
        return base.OnInitializedAsync();
    }

}
@if (!Children.Any())
{
    <p>
        <em>.....One Moment Retrieving Report Card Data</em>
    </p>
}
else
{
    foreach (Child child in Children)
    {
        <h1>@child.Name</h1>
        <table class="table-striped">
            <thead>
            <tr>
                <th>Grade</th>
                <th>Course</th>


            </tr>
            </thead>
            <tbody>
            @foreach (var course in child.Courses)
            {
                <tr>
                    <td>
                        @course.Value
                    </td>
                    <td>
                        @course.Key
                    </td>
                </tr>
            }
            </tbody>

    </table>
    }
}